// @font-face {
//   font-family: 'OpenSans Regular';
//   src: local('OpenSans Regular'), url(./fonts/OpenSans-Regular.ttf) format('ttf');
// }

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  background-color: #080808;
  user-select: none;
}

.container-fluid {
  .search-container {
    height: 40px;
    position: fixed;
    top: 22px;
    right: 30px;
    z-index: 1;

    .search-input {
      width: 0px;
      height: 100%;
      font-size: 16px;
      border: none;
      border-radius: 50px;
      outline: none;
      background: none;
      color: white;
      transition: width 500ms;

      &.show-search-input {
        width: 300px;
        padding: 4px 10px;
        border: 2px solid white;
        background-color: rgba($color: black, $alpha: 0.4);
      }
    }

    .search-button {
      margin-left: 10px;
      color: white;
      cursor: pointer;
    }
  }

  .header {
    position: relative;
    height: 50vh;
    color: white;
    transition: height 800ms;

    &.full-height-detail {
      height: 100vh;
    }
  
    .movie-info-container {
      .movie-info {
        margin: calc(8vh + 40px);

        h1 {
          font-weight: bold;
        }

        .movie-score {
          margin-right: 10px;
          font-size: 20px;
          font-weight: bold;
        }

        .imdb-icon {
          color: #fcba03;
          font-size: 30px;
        }
      }

      .detail-button {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
        transition: transform 800ms;

        &.arrow-up {
          transform: rotate(180deg);
        }
      }
    }

    .movie-bg {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      transition: background-image 500ms;

      .movie-bg-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color: black, $alpha: 0.8);
      }
    }
  }

  .movie-list-container {
    &.hide-list {
      opacity: 0;
      transition: opacity 500ms;
    }
  }
}
